/* Meu primeiro comentário*/
/*Reset css para o navegador*/

*{
    margin: 0; /*Margem*/
    padding: 0; /*Preenchimento*/
}

body{
    height: 100%; /*altura*/
    width: 100%; /*largura*/
    display: flex;
    justify-content: center;
    background:linear-gradient(#bd8282, #ffd2ae);
    background-repeat: no-repeat;
}
.imagem{
    display: flex;
    justify-content: center;
}
.imagem img{
    width: 200px;
    border-radius: 190px;
    border: 5px solid #f7d5ba;
    margin-top: 30px;
    
}
.name{
    margin-top: 10px; /* tamanho da Margem*/ 
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 600px;
    color:#000000;
    font-family:'Times New Roman', Times, serif;
}
.redes-sociais{
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex; /*organizar itens na mesma linha*/
    justify-content: center;
    align-items: center; /*alinhamento de itens*/
}
.icon, #email{
    display: inline-block; /*blocos na linha*/
    height: 35px;
    width: 35px;
    border-radius: 30px;
    transition: all 0.3s ease-out; /*transição*/
    box-shadow: 5px 5px 5px #0000001a; /*expecificações das caixas*/
    cursor: pointer; /* Cursor: mãozinha*/
    margin: 3px;
    overflow: hidden; /* Ocultar o que não se encaixa na borda*/
}
.icon i, #email i{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    border-radius: 30px;
    background:#f7d5ba;
    color: #ff6363;
    cursor: pointer;
}
.icon span a{
    list-style: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right ;
    margin-right: 23px;
    font-weight: 100;
    color: #000000;
    line-height: 35px;
    font-size: 15px;
}
.name-icon{
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    float: right;
    margin-right: 40px;
    color:#ff6363;
    font-weight: 100;
    line-height: 35px;
    font-size: 17px;
}
.icon:hover{ /*hover: efeito de passar o mouse por cima*/
    width: 125px;
    background-color:#ededed;
    border-radius: 20px;
}
.icon:nth-child(1):hover i{
    background: wheat;
}
.icon:nth-child(2):hover i{
    background:linear-gradient(#f373ff, #f896eb, #f78b8b, #f1c28c, #f7ff8b);
}
.icon:nth-child(3):hover i{
    background:#529dda;
}
.icon:nth-child(4):hover i{
    background:#57d8ff;
}
#email:hover i{
    background: #ff9393;
}

/*Fim CSS Redes Sociais*/

.texto{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center ;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align:justify;
    width: 610px;
    height: 160px;
    padding: 25px 10px 5px 10px; /* Margem interna/ preenchimento*/
    border-radius: 10px;
    color: #000000;
    background:#ca6f6f;
    overflow: hidden; 
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.3);/* rgb-A= Alpha para Transparência*/
    cursor: pointer;
}

/* Magin top- em cima, bottom- embaixo, left/right- esquerda/direita*/

#sobre-mim{ 
   position: absolute;
   top:3px;
   display: flex;
   color: #ffd2ae;
   font-size: 25px;
   text-align: center;
   font-family: 'Times New Roman', Times, serif;
   line-height: 35px;

}
.Linguagem {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.Linguagem img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    border-radius: 200px;
    margin: 5px;
    box-shadow: 2px 2px 2px rgb(98, 98, 98);
}
.Projetos{
    margin: auto;
    margin-top: 40px;
    flex-direction: column;
}
.Projetos a{
    text-decoration: none; /* Tirar o áspecto de link/ "mascarar o link" */
    color: #000000;
}
.subtitulo{
    display: flex;
    justify-content: center;
    color: #ffd2ae;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 60px;
}
.item{
    margin: auto;
    display: flex; /*nulo*/
    align-items: center;
    justify-content: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
    color: #000000;
    border: 5px solid #da5252; /* Border-style: estilos da borda*/
    border-radius: 10px;
    width: 645px;
    height: 60px;
    margin-bottom: 3px;
    background:#ca6f6f;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.item:hover{
    transition: 1s;
    background: #f7d5ba;
}
.video{
    padding: 10px;
    margin: auto;
    display: none;
}
.video.active{
    display: block;

}
.rodape{
    color: #f7ff8b;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
}
/*Configurações para Desktop*/
/*Dispositivos Mobiles */
@media (max-width: 700px){
    .imagem img{
        width: 220px;
        border-radius: 200px;
        margin-top: 30px;
    }
    .texto{
        width:350px;
        height: 260px;
    }
    .Linguagem img{
        width: 165px;
    }
    .item{
        width: 350px;
    }
    #video{
        width: 330px;
    }
}
@media (max-width:500px){
    .imagem img{
        width: 170px;
    }
    .texto{
        padding: 15px;
        width: 310px;
        height: 320px;
        margin-top: 30px;
    }
    .subtitulo{
        font-size: 17px;
        margin-top: 20px;
    }
    p{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #video{
        width: 270px;
        height: 160px;
    }
    .item{
        width: 310px;
        height: 40px;
    }
    .Linguagem img{
        margin-top: 15px;
        width: 135px;
    }
    .icon, #email {
        width: 35px;
        height: 35px;
        border-radius: 50px;
        
    }
    .icon i, #email i{
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        font-size: 15px;
        border-radius: 40px;
    }
    .icon span{
        margin-right: 43px;
        line-height: 20px;
        font-size: 15px;
    }
    .rodape{
        font-size:20px;
        margin-top: 0;
    }
}

